<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%- title %></title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendor/font-awesome/css/font-awesome.min.css' />
    <%-stylesheets %>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" charset="utf-8"  src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <%-scripts %>
    <link rel="home" href="/" title="Home">
</head>
<body>
   <%- body %>
   <script src="/js/main.js"></script>
</body>
</html>
